@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&display=swap');

.ui__form {
  display: grid;
  grid-gap: 10px;
  margin: 2rem auto 0 auto;
  max-width: 60%;
  padding: 1em;
  font-family: 'Source Sans Pro', sans-serif;
}

.ui__form input {
  background: #fff;
  font-size: 1.1em;
  border: 1px solid #9c9c9c;
  padding: 0.7em;
  border-radius: 0.4rem;
}

.ui__form textarea {
  background: #fff;
  font-size: 1.1em;
  border: 1px solid #9c9c9c;
  padding: 0.7em;
  border-radius: 0.4rem;
}

.ui__form input:focus {
  outline: 3px solid gold;
}

.ui__form textarea:focus {
  outline: 3px solid gold;
}

.ui__form label {
  font-size: 1.0rem;
  font-weight: 600;
  letter-spacing: 0.25rem;
}

.ui__form button {
  background: #EDEEEF;
  font-size: 0.9rem;
  font-family: 'Lato';
  padding: 0.7em;
  width: 100%;
  border: 1px solid #000;
  border-radius: 0.4em;
  margin-top: 15px;
}

.ui__form button:hover {
  background: gold;
}

.ui__form button:focus {
  outline: none;
}

/* .ui__form--title {
  font-size: 3em;
}

.ui__form--description {
  font-size: 3rem;
} */


.input-field__large {
  border: 1px solid #9c9c9c;
  border-radius: 1.2em;
}

.err__msg{
  font-size: 0.8rem;
  letter-spacing: 1.1px;
  color:red;
}